openapi: 3.1.0
info:
  title: Bookings Service (from main.go)
  description: |
    API that manages property bookings. Mirrors the lightweight in-memory Go
    server implemented in src/main.go. Provides create/list/get/replace/update
    and cancel operations for bookings.
  version: 0.1.0
  contact:
    name: Local Dev
    email: dev@bookings-sample.local
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.bookings-sample.dev/v1
    description: Production-like server (replace with local URL for testing)
tags:
  - name: bookings
    description: Operations for booking resources (create/list/get/update/cancel)
paths:
  /bookings:
    post:
      tags: [bookings]
      operationId: createBooking
      summary: Create a booking
      description: Create a new booking. Requires checkInDate, checkOutDate, guests and price.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingCreate'
            example:
              checkInDate: "2025-12-20"
              checkOutDate: "2025-12-25"
              guests: 2
              price: 450.0
      responses:
        '201':
          description: Booking created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
    get:
      tags: [bookings]
      operationId: listBookings
      summary: List bookings
      description: "Returns a paginated list of bookings. Query params: limit (default 20, max 100), offset (default 0)."
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Maximum number of items to return
          example: 20
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
          description: Number of items to skip
          example: 0
      responses:
        '200':
          description: Array of bookings
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Booking'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/ServerError'
  /bookings/{bookingId}:
    parameters:
      - name: bookingId
        in: path
        required: true
        schema:
          type: string
        description: Booking UUID
        example: "123e4567-e89b-12d3-a456-426614174000"
    get:
      tags: [bookings]
      operationId: getBooking
      summary: Get booking by ID
      description: "Retrieve a booking by its UUID."
      responses:
        '200':
          description: Booking
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
    put:
      tags: [bookings]
      operationId: replaceBooking
      summary: Replace booking
      description: "Replace all modifiable fields of a booking (checkInDate, checkOutDate, guests, price). Status is preserved."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingCreate'
            example:
              checkInDate: "2025-12-20"
              checkOutDate: "2025-12-25"
              guests: 2
              price: 450.0
      responses:
        '200':
          description: Updated booking
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
    patch:
      tags: [bookings]
      operationId: updateBooking
      summary: Partially update booking
      description: "Update one or more fields. At least one field required."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingUpdate'
            example:
              guests: 3
      responses:
        '200':
          description: Updated booking
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
    delete:
      tags: [bookings]
      operationId: deleteBooking
      summary: Delete booking
      description: "Permanently delete a booking. Returns 204 on success."
      responses:
        '204':
          description: No content
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /bookings/{bookingId}/cancel:
    post:
      tags: [bookings]
      operationId: cancelBooking
      summary: Cancel booking (action)
      description: "Mark booking status as 'cancelled' and return the updated booking."
      parameters:
        - name: bookingId
          in: path
          required: true
          schema:
            type: string
          description: Booking UUID
      responses:
        '200':
          description: Cancelled booking
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
components:
  schemas:
    Booking:
      type: object
      properties:
        id:
          type: string
          description: UUID
          example: "123e4567-e89b-12d3-a456-426614174000"
        checkInDate:
          type: string
          format: date
          example: "2025-12-20"
        checkOutDate:
          type: string
          format: date
          example: "2025-12-25"
        guests:
          type: integer
          minimum: 1
          example: 2
        price:
          type: number
          format: double
          minimum: 0
          example: 450.0
        status:
          type: string
          example: confirmed
      required:
        - id
        - checkInDate
        - checkOutDate
        - guests
        - price
        - status
    BookingCreate:
      type: object
      properties:
        checkInDate:
          type: string
          format: date
          example: "2025-12-20"
        checkOutDate:
          type: string
          format: date
          example: "2025-12-25"
        guests:
          type: integer
          minimum: 1
          example: 2
        price:
          type: number
          format: double
          minimum: 0
          example: 450.0
      required:
        - checkInDate
        - checkOutDate
        - guests
        - price
    BookingUpdate:
      type: object
      properties:
        checkInDate:
          type: string
          format: date
        checkOutDate:
          type: string
          format: date
        guests:
          type: integer
          minimum: 1
        price:
          type: number
          format: double
          minimum: 0
        status:
          type: string
      additionalProperties: false
    ErrorResponse:
      type: object
      properties:
        code:
          type: integer
          example: 400
        message:
          type: string
          example: "invalid request"
      required:
        - code
        - message
  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key required to access the endpoints (development only)

security:
  - ApiKeyAuth: []
